# ignore all pycache and pytest_cache dirs at all depths (note the slash to  the right)
__pycache__/
.pytest_cache/

# Mac OS
.DS_Store

# temp
temp/

# other
format_anabasis.ipynb
sandbox.ipynb

db/grc_macrons.db
