# update pointers with:
# 	git submodule update --recursive --remote --merge

[submodule "grc-utils"]
	path = external/grc-utils
	url = https://github.com/Urdatorn/grc-utils.git
	branch = master
[submodule "grc_odycy_joint_trf"]
	path = external/grc_odycy_joint_trf
	url = https://huggingface.co/chcaa/grc_odycy_joint_trf
	branch = main
